.home_container {
  width: 100%;
  display: flex;
  /* overflow: scroll; */
  /* top: 5em; */
  /* bottom: 0; */
  /* border: 1px solid red; */
  flex-direction: column;
  align-items: space-between;
  background-color: #0c090a;
}

.home_content_div {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  color: white;
  /* padding-top: 2.5em; */
  /* padding-left: 1em; */
  padding: 1em;
}

.home_upper_div {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* background-color: rgb(47, 11, 119); */
}

.home_h1 {
  margin-top: 0.2em;
  font-size: 3rem;
  letter-spacing: 2.5px;
  /* width: 70%; */
  font-weight: 900;
}

.name_span {
  color: rgb(221, 128, 22);
  color: rgb(27, 76, 236);
}

.home_p {
  /* width: 55%; */
  max-width: 95%;
  /* min-width: 20%; */
  margin-top: 0.85em;
  font-size: 1.32rem;
  font-weight: 300;
  line-height: 1.8em;
  color: rgb(236, 231, 231);
  /* padding-left: 0.3em; */
}

.home_button {
  width: 15em;
  margin-top: 1em;
  /* height: 3em; */
  border: none;
  padding: 1em;
  color: #0c090a;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border-radius: 4px;
  text-decoration: none;
  display: grid;
  place-content: center;
  transition: 1s;
  cursor: pointer;
}

.home_button:hover {
  /* transform: translateY(-0.5em); */
  background-color: rgb(27, 76, 236);
  color: white;
  border: none;
  transition: ease 0.4s all;
}

.what_i_do_div {
  background-color: rgb(27, 76, 236);
  /* background-color: white; */
  margin-top: 2em;
  padding: 3em 0em;
  height: fit-content;
  /* -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw / -12)); */
  /* -ms-transform: skew(0, -4.76deg) translateY(calc(50vw / -12)); */
  /* position: absolute; */
  transform: skewY(-4deg);
  /* transform-origin: top right; */
}

.what_i_do_h2 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.45rem;
  color: white;
  /* color: black; */
  /* letter-spacing: 0.1em; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  transform: skewY(4deg);
}

.skills_div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  /* border: 1px solid red; */
  /* width: 50%; */
  justify-content: center;
  align-items: center;
}

.skill_article {
  /* border: 4px solid orange; */
  width: 15em;
  height: 13em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  padding: 0em 0.5em;
  /* background-color: black; */
  background-color: white;
  text-align: center;
  box-shadow: 0px 6px 12px -4px rgb(6, 6, 6);
  transition: ease-in 0.5s all;
  transform: skewY(4deg);
}

.skill_article:hover {
  transform: skewY(4deg);
  transform: translateY(-0.5em) skewY(4deg);
  transition: ease-out 0.5s all;
}

.skill_p {
  font-size: 1.3rem;
  font-weight: 500;
  /* color: white; */
}

.work_together_div {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: -6em;
  /* padding: 0em 1em; */
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

.work_together_h2 {
  margin-top: 3.5em;
  /* text-align: center; */
  font-size: 2.45rem;
}

.work_together_p {
  font-size: 1.35rem;
  line-height: 1.1em;
  max-width: 95%;
  margin-top: 0.65em;
}

.work_together_content {
  padding: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamwork_img {
}

.home_contact_me_button {
  min-width: 90%;
  margin-top: 1em;
  /* height: 3em; */
  border: none;
  padding: 1em;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: rgb(27, 76, 236);
  color: white;
  border-radius: 4px;
  text-decoration: none;
  display: grid;
  place-content: center;
  transition: 1s;
  cursor: pointer;
  border: 1px solid transparent;
}

.home_contact_me_button:hover {
  color: rgb(27, 76, 236);
  border: 1px solid rgb(27, 76, 236);
  background-color: white;
  transition: ease 0.4s all;
}

@media screen and (min-width: 769px) {
  .home_content_div {
    display: flex;
    width: 100%;
    color: white;
    padding: 2em;
  }

  .home_upper_div {
    width: 100%;
    padding-bottom: 0em;
  }

  .home_h1 {
    font-size: 4.5rem;
  }

  .home_p {
    font-size: 2rem;
    max-width: 85%;
  }

  .home_button {
    width: 15em;
    margin-top: 1em;
    padding: 1.15em;
    font-size: 1.15rem;
  }

  .what_i_do_h2 {
    font-size: 3rem;
  }

  .what_i_do_div {
    margin-top: 2em;
    padding: 3em 0em 6em 0em;
    height: fit-content;
    margin-bottom: 2em;
    transform: skewY(-4deg);
  }

  .skills_div {
    flex-direction: row;
    justify-content: space-evenly;
    transform: skewY(3deg);
    padding: 0em 0.5em;
  }

  .skill_article {
    /* border: 4px solid orange; */
    width: 18em;
    height: 22em;
    transform: skewX(0deg);
  }
  .skill_article:hover {
    transform: translateY(-0.5em) skewY(0deg);
    transition: ease-out 0.5s all;
  }

  .skill_p {
    font-size: 1.5rem;
    font-weight: 500;
    /* color: white; */
  }

  .work_together_content {
    padding: 1em 1em;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    /* justify-content: center; */
  }

  .work_together_h2 {
    margin-top: 2.65em;
    /* text-align: center; */
    font-size: 3rem;
  }

  .work_together_p {
    font-size: 1.65rem;
    line-height: 1.1em;
    width: 60%;
    margin-top: 0.65em;
    padding-top: 0.5em;
    line-height: 1.35em;
  }

  .home_contact_me_button {
    margin-top: 0.8em;
  }
}
