.home-content-div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.8em 1em;
  color: white;
  justify-content: flex-start;
}

.landing-img {
  display: none;
}

.home-upper-div {
  width: 100%;
  padding: 1em 0em;
}

.home-h1 {
  font-size: 2.3rem;
}

.home-upper-div p {
  font-size: 1.1rem;
  width: 95%;
}

.home-button {
  width: 14em;
  height: 2.85em;
  font-size: 0.9rem;
}

.home-svg-div {
  height: 30%;
  display: flex;
  position: fixed;
}

ul.socials-ul {
  flex-direction: row;
  width: 100%;
  padding: 0;
  bottom: 0;
  justify-content: center;
  gap: 3em;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .home-content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2em 1em;
    color: white;
    justify-content: flex-start;
  }

  .landing-img {
    width: 25em;
    height: 25em;
    z-index: 10;
    position: absolute;
    left: 55%;
    bottom: 20%;
    /* display: none; */
  }

  .home-upper-div {
    width: 100%;
  }

  .home-h1 {
    font-size: 2.8rem;
  }

  .home-upper-div p {
    font-size: 1.1rem;
    max-width: 80%;
  }

  .home-button {
    width: 14em;
    height: 2.75em;
    font-size: 0.9rem;
    margin-top: 0.5em;
  }

  .home-svg-div {
    height: 36%;
    display: flex;
    position: fixed;
  }

  ul.socials-ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    padding-left: 0.5em;
    bottom: 0;
    justify-content: center;
    gap: 1em;
  }
}

.about-container,
.contact-container,
.skills-container,
.projects-container {
  background-color: rgb(47, 11, 119);
  height: 100vh;
  border-top: 1px solid white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.about-h1,
.contact-h1,
.skills-h1,
.projects-h1 {
  color: white;
  margin-top: 2em;
}
